node_modules/
dist/
.env
storage/dp-images/*
!storage/dp-images/.gitkeep
prisma/dev.db
prisma/dev.db-journal
*.log
.pm2/
.npm/
.cache/
.vscode/
.idea/
*.iml
.zsh_history
.zshrc
.bashrc
.vimrc
.zcompdump
.wget-hsts
.lightningignore
